@(searchParams: Form[(Option[Int], Long, Option[Long])], errors: Seq[FormError], foundPets : Set[services.Pet], types : Seq[(String, String)])

@main("Search pets") {
    <h1>play-framework petshop!</h1>
    <h2>Search</h2>

    @helper.form(action = routes.Pets.performSearch) {
        @helper.select(field = searchParams("typeId"), options = types)
        @helper.inputText(searchParams("minPrice"))
        @helper.inputText(searchParams("maxPrice"))
        <input type="submit" value="Search">
    }
    <a href="@routes.Pets.create">Create</a>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
    @for(row <- foundPets) {
        <tr>
            <td>
                <a href="@routes.Pets.show(row.id)">@row.id</a>

            </td>
            <td>@row.name</td>
            <td>@row.birthday.getTime</td>
            <td>@row.price</td>
            <td>@row.petType.description</td>
        </tr>
    }
    </table>

@errors
}